---
import Layout from "@/layouts/Layout.astro"
import AbsentFormsComponent from '@/components/absent-forms/'
---

<Layout title="欠席届">
    <main class="mt-12 md:container mx-auto lg:mt-8 px-6 sm:px-16 xl:px-20 ">
       <AbsentFormsComponent client:load></AbsentForms>
    </main>
</Layout>
