---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="連絡先">
  <main class="justify-center items-center h-screen text-center">
    <h1 class="font-bold">ECCコンピュータ専門学校</h1>
    <table>
      <tr>
        <th>教務課</th>
        <td>TEL 06-6374-0144</td>
      </tr>
      <tr>
        <th>事務局</th>
        <td>TEL 06-6374-0144</td>
      </tr>
      <tr>
        <th>進路指導課</th>
        <td>TEL 06-6376-4733</td>
      </tr>
    </table>
    <p>〒530-0015 大阪北区中崎西2-3-35</p><br />
    <br />
    <p>受付時間：平日 9:00～20:00</p>
    <p>土曜 9:00～17:00</p>
    <p>休み：日曜・祝日・学校指定の休日</p><br />
    <p>
      ※フリーダイヤルは使用できません。<br />
      上記ダイヤルへ連絡してください。
    </p>
  </main>
</Layout>
