---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<style>
  a {
    padding-top: 100px;
  }
</style>

<Layout title="HANDBOOK">
  <main class="justify-center items-center h-screen text-center">
    <a href="https://comp-app.ecc-sv.com/app/school_life/hadbook_a.pdf"
      >学則・ルールについて</a
    ><br />
    <a href="https://comp-app.ecc-sv.com/app/school_life/hadbook_b.pdf"
      >資格検定試験スケジュール</a
    ><br />
    <a href="https://comp-app.ecc-sv.com/app/school_life/hadbook_c.pdf"
      >学生向け情報</a
    ><br />
    <a href="https://comp-app.ecc-sv.com/app/school_life/hadbook_d.pdf"
      >校舎案内図</a
    ><br />
    <a href="https://comp-app.ecc-sv.com/app/school_life/hadbook_e.pdf"
      >ECC Local Guide Map</a
    ><br />
    <a href="https://comp-app.ecc-sv.com/app/school_life/hadbook_f.pdf"
      >連絡窓口</a
    ><br />
    <a href="https://comp-app.ecc-sv.com/app/school_life/hadbook_g.pdf"
      >留学生HANDBOOK2024</a
    ><br />
  </main>
</Layout>
