---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import { ViewTransitions } from "astro:transitions";
---

<Layout title="HANDBOOK">
  <main class="justify-center items-center h-screen text-center">
    <head><ViewTransitions /></head>
    <p>
      <a href="/hadbook_a.pdf" data-astro-reload>学則・ルールについて</a>
    </p><hr />

    <p>
      <a href="/hadbook_b.pdf" data-astro-reload>資格検定試験スケジュール</a>
    </p><hr />

    <p><a href="/hadbook_c.pdf" data-astro-reload>学生向け情報</a></p><hr />

    <p><a href="/hadbook_d.pdf" data-astro-reload>校舎案内図</a></p><hr />

    <p><a href="/hadbook_e.pdf" data-astro-reload>ECC Local Guide Map</a></p><hr
    />

    <p><a href="/hadbook_f.pdf" data-astro-reload>連絡窓口</a></p><hr />

    <p><a href="/hadbook_g.pdf" data-astro-reload>留学生HANDBOOK2024</a></p><hr
    />
  </main>
</Layout>

<style>
  main {
    margin-top: 60px;
    margin-left: 5%;
    margin-right: 5%;
  }
  hr {
    border-width: 1.5px 0 0 0;
    border-style: dashed;
    border-color: rgb(200, 200, 200);
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .br {
    display: none;
  }
  p {
    text-align: left;
  }
  a:hover {
    color: rgb(159, 239, 239);
  }

  @media screen and (max-width: 636px) {
    .br {
      display: block;
    }
  }
</style>
