---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex justify-center items-center">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam est quibusdam velit quas ullam quasi impedit facilis sed aliquam quis? Cumque accusantium officia odio vitae laudantium dolorem nulla quasi quibusdam at, corrupti eum accusamus veritatis. Dolores doloremque ducimus perferendis deserunt maiores molestias deleniti cumque necessitatibus fugiat obcaecati nostrum sapiente sit, molestiae repellat officiis et qui ea voluptatum vero architecto odio perspiciatis maxime quas? Ullam cupiditate non optio deleniti aspernatur doloribus asperiores corrupti eum expedita commodi esse dicta, nostrum pariatur dolorum fugit assumenda iure obcaecati maxime dolorem nesciunt ratione laboriosam error cumque. Reiciendis molestias eligendi illum sunt, culpa natus earum officiis omnis explicabo odit quisquam eveniet et fugiat voluptatem dolore delectus minus qui. Iusto laudantium corrupti labore ut ducimus facilis dolorum dolorem tenetur aliquam quod sunt saepe, illum totam, quae cum aliquid vel numquam eum atque eveniet vitae impedit sapiente. Aliquid aut dignissimos atque fugit officia, velit quaerat quae commodi fugiat eos, quasi vel eius maiores iusto rerum, totam harum voluptatem minus voluptatum a! Quidem fuga, minima quibusdam labore optio numquam itaque reiciendis vel beatae. Eaque pariatur maxime consequatur enim eligendi esse rem quis quos possimus eveniet distinctio debitis quod, minima architecto consequuntur reiciendis itaque vitae magnam, incidunt accusantium explicabo dolores.</p>
	</main>
	<style></style>
</Layout>
