---
import DesktopSearchBar from "@/components/info-search/desktop";
import Layout from "../layouts/Layout.astro";
import MobileSearchBar from "@/components/info-search/mobile";
import InfoSection from "@/components/info-section";


const fetchStudentNewsDatas = async () => {
  const response = await fetch("http://localhost:3000/student-news");
  const data = await response.json();
  return data;
};
const initialItems = await fetchStudentNewsDatas();

---

<Layout title="お知らせ">
  <main
    class="mt-12 md:container mx-auto lg:mt-8 px-6 sm:px-16 xl:px-20 min-h-screen max-w-screen-2xl w-full"
  >
    <DesktopSearchBar client:load />
    <MobileSearchBar client:load />
    <InfoSection client:load />
  </main>
</Layout>
