---
import DesktopSearchBar from "@/components/info-search/desktop";
import Layout from "../layouts/Layout.astro";
import MobileSearchBar from "@/components/info-search/mobile";
import InfoSection from "@/components/info-section";


const fetchStudentNewsDatas = async () => {
  const response = await fetch(`${import.meta.env.PUBLIC_API_URL}/student-news`);
  const data = await response.json();
  return data;
};
const initialItems = await fetchStudentNewsDatas();

---

<!-- redirect script block -->
<script>
  if (typeof window !== 'undefined') {
    const userSession = localStorage.getItem("userSession");
    // or check localStorage.getItem("userData"), whichever you prefer
    if (!userSession) {
      window.location.href = "/login";
    }
  }
</script>

<Layout title="お知らせ">
  <main
    class="mt-12 md:container mx-auto lg:mt-8 px-6 sm:px-16 xl:px-20 min-h-screen max-w-screen-2xl w-full"
  >
    <DesktopSearchBar client:load />
    <MobileSearchBar client:load />
    <InfoSection client:load initialItems={initialItems} />
  </main>
</Layout>
