---
import Layout from '../layouts/Layout.astro';
import SearchBar from '@/components/info-search'
---

<Layout title="ホーム">
	<main class="pt-12">
		<SearchBar client:load></SearchBar>
	</main>
</Layout>
