---
import LogoutComponent from "../components/logout"; // Ensure the path is correct
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logout</title>
  </head>
  <body>
    <div id="logout">
      <LogoutComponent client:load />
    </div>
  </body>
</html>
