---
import Layout from "@/layouts/Layout.astro";

const item = { 
      postId:1,
      title: "【キャリアセンター】求人情報プリント発行します(8/26発行）",
      description: "Explore alternatives to MongoDB Realm and learn how Supabase provides powerful solutions for device synchronization and real-time database capabilities.",
      category: "キャリアセンターより",
      date: "2024年10月27日"
      }
---
<Layout title="お知らせ">
<main class="mt-12">
    <h1>{item.title}</h1>
</main>
</Layout>
